body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.form {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 10px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
/* Media Queries */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .image, .form {
        flex: none;
        width: 100%;
        margin-bottom: 50px;
    }
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:red;
}